/* GLOBAL STYLES START */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #d8bf76;
  --secondary-color: black;
  --tertiary-color: white;
  --quaternary-color: #696969;
}
/* GLOBAL STYLES END */

 /* BODY STYLES START */
 body {
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER & NAVIGATION STYLES START */
header {
  padding: 20px 35px;
  background-color: var(--secondary-color);
  background-position: 80%;
  background-attachment:fixed;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 20px;
}

header a {
  padding: 10px; 15px;
  color: var(--primary-color);
  font-weight: bold;
}

header h1 a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow:none;
}

header nav {
  margin: 7px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav div a {
  padding: 10px 15px;
  font-weight: 200;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header nav div a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow:none;
}
/* HEADER & NAVIGATION STYLES END */

/* STYLE ALL SECTION TAGS */
section {
  padding: 50px; 
}

.section-title {
  font-size: 48px;
  padding-bottom: 20px;
  width: 20%;
  margin: 0 auto 35px auto;
  color: var(--secondary-color);
  text-align: center;
  float: left;
}
/* END ALL SECTION TAGS */ 