/* GLOBAL CSS */
* {
  box-sizing: border-box;
}

/* JS Root Colors */
:root {
  /* Primary - H2; Secondary - links; Tertiary - body font*/
  /* Dark - header; Light - body background*/
  --primary: #4c5974;
  --secondary: #81C1C2;
  --tertiary: #495F7B;
  --dark: #30333c;
  --light: #E8E8F4;
}

 /* BODY */
 body {
  margin: 0;
  padding 0;
  font-family: 'Helvetica', Arial, sans-serif;
  color: var(--tertiary);
  background-color: var(--light);
  line-height: 1.5;
}

/* Titles */
h1,
h2,
h3 {
  margin: 0;
}

/* Non-Titles */
p {
  margin: 0;
}

/* HEADER & NAV*/
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  box-shadow: 0, 5px 35px lightslategrey;
  /* box-shadow: offset x, offset y, blur radius, colors */
}

h1 {
  background-color: var(--secondary);
  padding: 5px 1% 5px 6%;
  /* top, right, bottom, left */
  /* viewport width = vw*/

}

h1 a {
  color: var(--dark);
  line-height: 1;
  font-size: 4vw;
  text-decoration: none;
}

header nav {
  margin: 7px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav a {
  padding: 10px 15px;
  color: var(--secondary);
  font-weight: 200;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* HERO STYLES */
.hero {
  padding: 5%;
  background-image: url('../images/hero-background.jpeg');
  background-position: 80%;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

figure span {
  align: bottom right;
  padding: 10px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

figure span h2 {
  font-size: 25px;
  line-height: 1.2;
}

figure span h4 {
  font-style: italic;
  line-height: 1.4;

/* MAIN STYLES */
main section div {
padding-left: 20px;
width: 70%;
float: right;
border-left: 3px solid var(--secondary-color);
}

section {
  padding: 50px; 
}

section h2 {
  font-size: 48px;
  padding-bottom: 20px;
  width: 30%;
  margin: 0 auto 35px auto;
  color: var(--secondary-color);
  text-align: right;
  float: left;
  padding-right: 15px;
}