/* GLOBAL CSS */
* {
  box-sizing: border-box;
}

/* JS Root Colors */
:root {
  /* Primary - H2; Secondary - links; Tertiary - body font*/
  /* Dark - header; Light - body background*/
  --primary: #4c5974;
  --secondary: #81C1C2;
  --tertiary: #495F7B;
  --dark: #30333c;
  --light: #E8E8F4;
}

 /* BODY */
 body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', Arial, sans-serif;
  color: var(--tertiary);
  background-color: var(--light);
  line-height: 1.5;
}

/* Titles */
h1,
h2,
h3 {
  margin: 0;
}

/* Non-Titles */
p {
  margin: 0;
}

/* HEADER & NAV*/
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  box-shadow: 0, 5px 35px lightslategrey;
  /* box-shadow: offset x, offset y, blur radius, colors */
  padding: 15px 6% 15px 0;
}

header h1 {
  background-color: var(--secondary);
  padding: 5px 1% 5px 6%;
  /* top, right, bottom, left */
  /* viewport width = vw*/
  font-size: 4vw;
  color: var(--dark);
  line-height: 1;
  margin: 0
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--secondary);
  font-size: 1.3rem;
  margin-right: 10px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}

nav a:last-child {
margin-right: 0;
}

/* MAIN */
main {
  margin-top: 20px;
  margin-bottom: 45px;
}

/* HERO*/
.hero {
  padding: 2% 6%;
  background-image: url('../images/hero-background.jpeg'), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
  background-position: center;
  background-blend-mode: soft-light;
  background-size: cover;
  min-height: 30vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
    /* vertical alignment: align-items */
  text-align: right;
}
.hero img {
  align-items: center;
}

.hero h2 {
  font-size: 1.4rem;
  line-height: 1.2;
  margin: 0;
  padding: 5px 10px;
  display: inline;
  background-color: var(--secondary);
  color: var(--dark);
}

.hero h2 span {
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.1;
}

.hero div {
  flex: 0 1 90%;
  /* grow, shrink, basis */
}

/* Main-Wrap */
.main-wrap {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.box-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.box-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--primary);
  font-size: 4vw;
  line-height: 1.1;
}

.box-section > div {
  flex: 0 0 77%;
}

.box-section p {
  margin-bottom: 20px;
}

.flex-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-items {
  border: 5px solid var(--secondary);
  background-color: var(--primary);
  color: var(--tertiary);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

.box-items:first-child {
  flex-basis: 100%;  
  min-height: 400px;
}

.box-items:hover {
  background-color: black;

}

.box-items div {
  background-color: var(--secondary);
  padding: 8px 10px;
}

.box-items h3 {
  font-size: 1.6rem;
}

.box-section address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.box-section address a {
  text-decoration: none;
  padding: 5px;
  color: var(--tertiary);
  font-size: 1.7rem;
  font-style: normal;
  margin: 0 0.2rem 0.1rem;
  background-image: linear-gradient(270deg, var(--tertiary) 0%, var(--tertiary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  display: inline-block;
}

.box-section address a:hover {
  background-size: 100% 80%;
  color: var(--secondary);

}

/* portfolio images */
.refactor {
  background-image: url("../images/Code-Refactor-952x514.jpg");
}

.led {
  background-image: url("../images/led-wall-blue.jpeg")
}

.calc {
  background-image: url("../images/calculator.jpeg")
}

.pastel {
  background-image: url("../images/puzzle-blue-pastel.jpeg");
}

.run {
  background-image: url("../images/run-buddy.png");
}

/* media */
@media screen and (max-width: 900 px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .box-section > h2,
  .box-section > div {
    flex: 0 0 100%;
  }

  .box-section >h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

@media screen and (max-width: 768px) {
  
  .box-items,
  .box-items:first-child {
    flex-basis: 100%;
  }

  .box-items:first-child {
    min-height: 150px;
  }

  .hero {
    min-height: 21vh;
    justify-content: center;
    text-align: center;
  }

  .hero h2 {
    font-size: 15px;
  }

  .hero h2 span {
    font-size: 12px;
  }

  .box-section address {
    flex-direction: column;
    align-items: flex-start;
  }

  .box-section address a {
    font-size: 15px;
  }
  }
